.navbar {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 99;
  box-shadow: 0px 1px 15px #666;
  .container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    contain: none;
    width: 100%;
    .logo {
      color: $main-color;
      font-size: 30px;
      font-weight: bold;
      line-height: 35px;
      cursor: pointer;
      &:hover {
        color: #666;
      }
    }
    ul {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: right;
      @include media(1300px) {
        display: none;
      }
      li {
        margin-right: 30px;
        a {
          color: #666;
          font-size: 13px;
          font-weight: bold;
          height: 70px;
          line-height: 40px;
          text-transform: uppercase;
          background: transparent !important;
          &:hover {
            color: $main-color;
          }
        }
      }
      .active {
        color: $main-color;
      }
    }
    .menu {
      contain: none;
      display: none;
      width: 100%;
      align-items: center;
      justify-content: right;
      @include media(1300px) {
        display: flex;
      }
      .icon {
        right: 20px;
        position: relative;
        margin: 20px 0;
        width: 30px;
        height: 12px;
        display: flex;
        justify-content: flex-end;
        float: right;
        span {
          position: absolute;
          background-color: #333;
          height: 2px;
          width: 100%;
          float: left;
          transition: $main-transition;
          @include border-radius(1px);
          &:first-child {
            top: 0;
          }
          &:nth-child(2) {
            top: 6px;
          }
          &:last-child {
            top: 12px;
          }
        }
      }
      .active {
        span {
          &:first-child,
          &:last-child {
            top: 6px;
          }
          &:first-child {
            transform: rotateZ(45deg);
          }
          &:last-child {
            transform: rotateZ(-45deg);
          }
          &:nth-child(2) {
            transform: translateX(-45%);
            opacity: 0;
          }
        }
      }
      ul {
        display: block;
        position: absolute;
        width: 100%;
        background-color: white;
        right: 0;
        top: 70px;
        height: 0;
        overflow: hidden;
        float: left;
        transition: $main-transition;
        li {
          width: 100%;
          margin: 0;
          margin-left: 30px;
        }
      }
      .show {
        height: 200px;
      }
    }
  }
}
