.contact {
  background: url(../../dist/img/contact-bg.webp);
  background-size: cover;
  background-position: top;
  .overlay {
    @include overlay(0.6);
    @include section-padding;
    width: 100%;
    height: 100%;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media(below) {
        flex-direction: column;
      }
      .content {
        flex-basis: 45%;
        h1 {
          color: white;
        }
        p {
          color: white;
          display: flex;
          align-items: center;
          text-align: left;
          margin: 20px 0;
          i {
            width: 40px;
            height: 40px;
            background-color: $main-color;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            margin-right: 10px;
            @include border-radius(50%);
            color: white;
          }
        }
      }
      form {
        flex-basis: 45%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
        input {
          padding: 20px 10px;
          @include media(below) {
            grid-column: 1 / 3;
          }
        }
        #subject {
          grid-column: 1 / 3;
        }
        textarea {
          padding: 10px;
          grid-column: 1 / 3;
          width: 100%;
          resize: vertical;
          min-height: 100px;
        }
        button {
          padding: 15px;
          color: white;
          font-weight: bold;
          background-color: $main-color;
          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
