.home {
  background: url(../../dist/img/home-bg.webp);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  margin-top: 70px;
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @include overlay(0.5);
    height: 100%;
    width: 100%;
    .container {
      @include section_padding;
      h1 {
        color: white;
      }
      p {
        color: white;
        font-weight: 400;
        font-style: italic;
        line-height: 2em;
      }
      img {
        margin-top: 50px;
        @include media(800px) {
          width: 80%;
        }
      }
    }
  }
}
