* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: "Raleway", sans-serif;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border: none;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

section {
  overflow-x: hidden;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  display: block;
  height: 100%;
  margin: 0px 400px;
  contain: content;
}
@media (max-width: 1600px) {
  .container {
    margin: 0px 100px;
  }
}
@media (max-width: 1300px) {
  .container {
    margin: 0px 10px;
  }
}

.navbar {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 99;
}
.navbar .logo {
  color: #28a7e9;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  cursor: pointer;
  position: fixed;
  margin: 0px 400px;
}
@media (max-width: 1600px) {
  .navbar .logo {
    margin: 0px 100px;
  }
}
@media (max-width: 1300px) {
  .navbar .logo {
    margin: 0px 10px;
  }
}
.navbar .logo:hover {
  color: #666;
}
.navbar .container {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.navbar .container ul {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
@media (max-width: 1300px) {
  .navbar .container ul {
    display: none;
  }
}
.navbar .container ul li {
  margin-right: 30px;
}
.navbar .container ul li a {
  color: #666;
  font-size: 13px;
  font-weight: bold;
  height: 70px;
  line-height: 40px;
  text-transform: uppercase;
}
.navbar .container ul li a:hover {
  color: #28a7e9;
}
.navbar .container ul .active {
  color: #28a7e9;
}
.navbar .container .menu {
  display: none;
  position: relative;
  width: 100%;
  z-index: 99;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
@media (max-width: 1300px) {
  .navbar .container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.navbar .container .menu .icon {
  margin: 20px 0;
  position: relative;
  width: 30px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navbar .container .menu .icon span {
  position: absolute;
  background-color: #333;
  height: 2px;
  width: 100%;
  float: left;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius: 1px;
}
.navbar .container .menu .icon span:first-child {
  top: 0;
}
.navbar .container .menu .icon span:nth-child(2) {
  top: 6px;
}
.navbar .container .menu .icon span:last-child {
  top: 12px;
}
.navbar .container .menu .active span:first-child, .navbar .container .menu .active span:last-child {
  top: 6px;
}
.navbar .container .menu .active span:first-child {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.navbar .container .menu .active span:last-child {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.navbar .container .menu .active span:nth-child(2) {
  -webkit-transform: translateX(-45%);
          transform: translateX(-45%);
  opacity: 0;
}
.navbar .container .menu ul {
  display: none;
  width: 100%;
  background-color: white;
}
.navbar .container .menu .show {
  display: block;
  position: absolute;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 70px;
  left: 0;
  padding: 0;
  margin: 0 auto;
}
.navbar .container .menu .show li {
  width: 100%;
  margin: 0;
  margin-left: 30px;
}

.home {
  background: url(../../dist/img/home-bg.webp);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  margin-top: 70px;
}
.home .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.home .overlay .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.home .overlay .container h1 {
  color: white;
}
.home .overlay .container p {
  color: white;
  font-weight: 400;
  font-style: italic;
  line-height: 2em;
}
.home .overlay .container img {
  margin-top: 50px;
}
@media (max-width: 800px) {
  .home .overlay .container img {
    width: 80%;
  }
}

.advantages {
  padding-top: 50px;
  padding-bottom: 50px;
}
.advantages .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1199px) {
  .advantages .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.advantages .container .card {
  text-align: center;
  margin: 20px;
}
.advantages .container .card a {
  font-size: 50px;
  color: #28a7e9;
}
.advantages .container .card h2 {
  margin: 20px;
}

.features {
  background-color: #f8f8f8;
}
.features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features .container .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 1199px) {
  .features .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.features .container .content:not(:first-child) {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.features .container .content .text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.features .container .content .text h2 {
  text-transform: uppercase;
}
.features .container .content .text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
.features .container .content .text p span {
  float: left;
}
.features .container .content .text p span i {
  background-color: #28a7e9;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 20px;
}
.features .container .content img {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  width: 50%;
}
@media (max-width: 1199px) {
  .features .container .content img {
    margin: 50px 0;
  }
}

.pricing {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pricing h1 {
  text-transform: uppercase;
  text-align: center;
}
.pricing .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  margin-top: 50px;
  gap: 20px;
}
@media (max-width: 1199px) {
  .pricing .cards {
    grid-auto-flow: row;
    margin-top: 0;
  }
  .pricing .cards .card {
    position: unset !important;
  }
}
.pricing .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.pricing .cards .card:nth-child(2) {
  bottom: 30px;
}
.pricing .cards .card .price {
  background-color: #28a7e9;
  width: 100%;
  contain: content;
  text-align: center;
}
.pricing .cards .card .price h2 {
  color: white;
  margin: 20px 0 0 0;
  text-transform: uppercase;
}
.pricing .cards .card .price h4 {
  color: white;
  margin: 20px 0;
  text-transform: uppercase;
}
.pricing .cards .card p {
  text-align: center;
  background-color: #f8f8f8;
  width: 100%;
  padding: 20px 0;
  font-size: 15px;
}
.pricing .cards .card .button {
  background-color: #f8f8f8;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}
.pricing .cards .card .button a {
  text-align: center;
  padding: 5px 50px;
  text-transform: uppercase;
  color: #28a7e9;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #28a7e9;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.pricing .cards .card .button a:hover {
  background-color: #28a7e9;
  color: white;
}

.download {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f8f8f8;
}
.download .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1199px) {
  .download .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .download .container img {
    width: 80% !important;
    margin-top: 40px;
  }
}
.download .container .content button {
  margin-top: 20px;
  padding: 12px 40px;
  background-color: #28a7e9;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.download .container .content button a {
  color: white;
  margin-right: 15px;
}
.download .container img {
  width: 50%;
}

.contact {
  background: url(../../dist/img/contact-bg.webp);
  background-size: cover;
  background-position: top;
}
.contact .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
}
.contact .overlay .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1199px) {
  .contact .overlay .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact .overlay .container .content {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.contact .overlay .container .content h1 {
  color: white;
}
.contact .overlay .container .content p {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin: 20px 0;
}
.contact .overlay .container .content p i {
  width: 40px;
  height: 40px;
  background-color: #28a7e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  color: white;
}
.contact .overlay .container form {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}
.contact .overlay .container form input {
  padding: 20px 10px;
}
.contact .overlay .container form #subject {
  grid-column: 1/3;
}
.contact .overlay .container form textarea {
  padding: 10px;
  grid-column: 1/3;
  width: 100%;
  resize: vertical;
  min-height: 100px;
}
.contact .overlay .container form button {
  padding: 15px;
  color: white;
  font-weight: bold;
  background-color: #28a7e9;
}
.contact .overlay .container form button:hover {
  background-color: black;
  color: white;
}